*{
  margin:0;
}
body{
  background: linear-gradient(rgba(255,255,0,0.3),rgba(0,0,255,0.3));
  min-height: 100vh;
}
.yu{
  display:flex;
  position:absolute;
  width:50px;
  height:50px;
  background: red;
}
.yo{
  display:flex;
  position:absolute;
  width:50px;
  height:50px;
  background: red;
  top:50px;
}
.yl{
  display:flex;
  position:absolute;
  width:50px;
  height:50px;
  background: red;
  top:50px;
  right:55%;
}
.yr{
  display:flex;
  position:absolute;
  width:50px;
  height:50px;
  background: red;
  top:50px;
  left:55%;
}
