*{
  margin:0;
}
body{
  background: linear-gradient(rgba(255,255,0,0.3),rgba(0,0,255,0.3));
  min-height: 100vh;
}
main{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width:100%;
  flex-direction: column;
}
.yu{
  display:flex;
  position:absolute;
  width:50px;
  height:50px;
  background: red;
}
.yy{
  display:flex;
  position:absolute;
  width:50px;
  height:50px;
  background: red;
  top: 0;
}
.yyy{
  display:flex;
  position:absolute;
  width:50px;
  height:50px;
  background: red;
  top: 0;
}
.yo{
  display:flex;
  position:absolute;
  width:50px;
  height:50px;
  background: red;
  top:50px;
}
.yl{
  display:flex;
  position:absolute;
  width:50px;
  height:50px;
  background: red;
  top:50px;
  right:55%;
}
.yr{
  display:flex;
  position:absolute;
  width:50px;
  height:50px;
  background: red;
  top:50px;
  left:55%;
}
.lOl{
  display:flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  width:100%;
}
button{

}
.littleFinger{
  display:flex;
  position:absolute;
  width:50px;
  height:30px;
  background: red;
  top:50px;
  right:63%;
}
.bigFinger{
  display:flex;
  position:absolute;
  width:50px;
  height:70px;
  background: red;
  top:30px;
left:63%;
}
.skeleton{
  display:flex;
  position:absolute;
  width:270px;
  height:30px;
  background: red;
  top:30px;
/* left:33%; */
}
