*{
  margin:0;
}
main{
  display:flex;
  justify-content: center;
  align-items: baseline;
  width:100%;
  height:100vh;
}
.box{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  max-width: 900px;
  height:100vh;
  border:1px solid grey;
}
#lineZero{
  width:50px;
  height: 700px;
  /* background-color: orange; */
  border:1px solid grey;
}
#lineOne{
  width:50px;
  height: 700px;
  /* background-color: green; */
  border:1px solid grey;
}
#lineTwo{
  width:50px;
  height: 700px;
  /* background-color: yellow; */
  border:1px solid grey;
}
#lineThree{
  width:50px;
  height: 700px;
  /* background-color: violet; */
  border:1px solid grey;
}
#lineFour{
  width:50px;
  height: 700px;
  /* background-color: red; */
  border:1px solid grey;
}
#lineFive{
  width:50px;
  height: 700px;
  /* background-color: cyan; */
  border:1px solid grey;
}
#lineSix{
  width:50px;
  height: 700px;
  /* background-color: grey; */
  border:1px solid grey;
}
#lineSeven{
  width:50px;
  height: 700px;
  /* background-color: green; */
  border:1px solid grey;
}
#lineEigth{
  width:50px;
  height: 700px;
  /* background-color: yellow; */
  border:1px solid grey;
}
#lineNine{
  width:50px;
  height: 700px;
  /* background-color: black; */
  border:1px solid grey;
}
@media(max-width:900px){
  .rightBox{
    display:none;
  }
}
.rightBox{
  width:100%;
  /* max-width:300px; */
}
